#name {
    color: #FF94CC;
    font-size: 2rem;
}

.nav-item {
    margin-left: 15px;
    font-size: 1.1rem;
}

body {
    background-color: #0A1931;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}


/*About Section*/

.about {
    /* display: flex; */
    margin-top: 60px;
}

.greet {
    font-size: 5rem;
    color: #FFF;
    margin-left: 50px;
}

.about-me {
    color: #FFF;
    margin-left: 50px;
    margin-top: 40px;
    line-height: 3rem;
}

.social-icons {
    margin-left: 50px;
    margin-top: 50px;
}

.socials {
    color: #CDF0EA;
    text-decoration: none;
    margin-left: 20px;
}

.socials-1 {
    color: #CDF0EA;
    text-decoration: none;
}

.socials:hover,
.socials-1:hover {
    color: #FF94CC;
    transform: scale(1.1);
}

.contact-resume {
    margin-left: 50px;
    margin-top: 50px;
}

.btn-get {
    height: 60px;
    width: 200px;
    margin-right: 10px;
    font-size: 1.2rem;
    background-color: #CDF0EA;
    color: #000;
}

.btn-get:hover {
    background-color: #FF94CC;
    color: #000;
}

#portfolio-skills,
#portfolio-education,
#portfolio-projects,
#portfolio-contact {
    margin-top: 150px;
}

.skills-title,
.education-title,
.experience-title,
.projects-title,
.contact-title {
    font-size: 5rem;
    color: #FFF;
    margin-left: 50px;
}

.nav-link:hover {
    transform: scale(1.05);
}


/*Skill Section*/

.skills {
    margin-top: 50px;
}

.skills li {
    display: inline;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    margin-left: 20px;
    text-align: center;
}

.icon-name {
    margin-top: 10px;
    font-size: 0.7rem;
    text-align: center;
}

.skill-and-desc {
    margin-left: 50px;
    color: #fff;
    font-size: 1.2rem;
}

.skill-icon:hover,
.icon-name:hover {
    color: #FF94CC;
    transform: scale(1.1);
}

.skill-icon {
    color: #CDF0EA;
}


/*Education Section*/

.crce-logo,
.rbk-logo {
    display: flex;
    width: 250px;
    height: 200px;
    font-size: 50px;
    margin-left: 50px;
    border-radius: 20px;
}

.crce,
.rbk-12,
.rbk-10 {
    margin-top: 40px;
    display: flex;
}

.crce-data,
.rbk-data {
    margin-left: 50px;
    color: #CDF0EA;
}

.degree {
    color: #CDF0EA;
}

.grade,
.edu-duration {
    margin-top: 15px;
}

.crce-logo:hover,
.rbk-logo:hover {
    transform: scale(1.1);
}

.rbk-name:hover,
.crce-name:hover {
    color: #FF94CC;
    text-decoration: none;
}

.rbk-data a,
.crce-data a {
    color: #CDF0EA;
    text-decoration: none;
}

.edu-line1 {
    margin-top: 25px;
    color: #FFDD93;
}

.edu-line2 {
    margin-top: 10px;
    color: #FFDD93;
}


/*Experience Section*/

.experience-title {
    margin-top: 150px;
}

.experiences {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
}

.experiences h5 {
    color: #CDF0EA;
    margin-top: 20px;
}

.exp-1,
.exp-2,
.exp-3 {
    text-align: center;
    border: 5px double #CDF0EA;
    padding-top: 10px;
}

.comp-title {
    color: #CDF0EA;
}

.comp-title:hover {
    color: #FF94CC;
}

.exp-image-logo {
    margin-top: 10px;
    border-radius: 50px;
}

.exp-image-logo:hover {
    transform: scale(1.1);
}

.exp-list {
    color: #CDF0EA;
    line-height: 1.5rem;
    margin-top: 30px;
}


/*Portfolio Projects*/

.other-projects-title {
    font-size: 2.5rem;
    color: #FFF;
    margin-top: 50px;
    margin-left: 50px;
}

.projects,
.other-projects {
    margin-left: 50px;
    margin-top: 40px;
    margin-right: 50px;
    border: 5px seperate #CDF0EA;
    text-align: center;
}

.proj-1,
.proj-2,
.proj-3,
.oproj-1,
.oproj-2,
.oproj-3 {
    border-radius: 25px;
    padding: 20px;
}

.proj-1:hover,
.proj-2:hover,
.proj-3:hover,
.oproj-1:hover,
.oproj-2:hover,
.oproj-3:hover {
    background-color: #03506F;
}

.proj-title {
    color: #CDF0EA;
}

.proj-title:hover {
    color: #000;
}

.projects a,
.other-projects a {
    text-decoration: none;
}

.proj-desc {
    margin-top: 20px;
    color: #CDF0EA;
}

#more {
    display: none;
}


/*Portfolio Contact Me*/

.contact-me-logos {
    margin-top: 40px;
    margin-left: 50px;
    color: #CDF0EA;
}

.logo:hover {
    transform: scale(1.2);
}

.logo {
    color: #CDF0EA;
}

.my-location {
    margin-top: 5px;
    margin-left: 50px;
    color: #CDF0EA;
}

.my-location:hover {
    color: #FF94CC;
}

#portfolio-contact a {
    text-decoration: none;
}

.opportunities {
    margin-left: 58px;
    margin-top: 15px;
    color: #CDF0EA;
}

.contact-social-icons {
    margin-left: 50px;
    margin-top: 30px;
}

.socials-me {
    color: #CDF0EA;
    text-decoration: none;
    margin-left: 20px;
}

.socials-me-1 {
    margin-left: 8px;
    color: #CDF0EA;
    text-decoration: none;
}

.socials-me:hover,
.socials-me-1:hover {
    transform: scale(1.1);
    color: #FF94CC;
}

.irfan-image {
    border-radius: 50%;
    float: right;
    margin-right: 8%;
    margin-top: 50px;
    border: .5rem solid #CDF0EA;
}

.irfan-image:hover {
    border: .5rem solid #FF94CC;
}

.contact-form {
    margin-top: 10px;
    text-align: center;
}

.say-hi-title {
    text-align: left;
    margin-left: 15%;
    margin-bottom: 20px;
    color: #CDF0EA;
    font-size: 4rem;
}

.feedback-input {
    color: #CDF0EA;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #FF94CC;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 70%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #CDF0EA;
}

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 70%;
    background: #FF94CC;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: #0A1931;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"]:hover {
    background: #CDF0EA;
}


/*Footer*/

.footer {
    margin-top: 50px;
    text-align: center;
    color: #CDF0EA;
}


/*Button Up*/

.btn-up {
    float: right;
    color: #CDF0EA;
    margin-right: 5px;
    margin-top: 20px;
}

.btn-up:hover {
    color: #FF94CC;
}